@import url(../../../node_modules/bootstrap/dist/css/bootstrap.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import url(./padrao.css);
@import url(./media-queries.css);

:root{
    /*------- Bootstrap -------*/
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

    --preto_dark: #1d2022fc;
    --azul: #0EB9E4;
    --azul_pouco_escuro: #069ec4;
    --azul_escuro: #007f9e;
    --whatsapp: #34af23;
    --whatsapp_hover: #258c18;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #2c3e50;
    background-color: var(--light);
    min-width: 360px;
}
p, article{
    letter-spacing: 0.3px;
}
button{
    letter-spacing: 0.5px;
}
button:focus, .btn:focus{
    box-shadow: none !important;
}
.btn-info{
    background-color: var(--azul_pouco_escuro);
    border-color: var(--azul_pouco_escuro);
}
.btn-outline-info{
    border-color: var(--azul_escuro) !important;
    color: var(--azul_escuro) !important;
}
.btn-outline-info:hover{
    background-color: var(--azul) !important;
    border-color: var(--azul) !important;
    color: #2c3e50 !important;
}
.borda{
    border: 1px solid var(--danger);
}
.bg-preto-dark{
    background-color: var(--preto_dark);
}
.bg-azul{
    background-color: var(--azul);
}
.text-azul{
    color: var(--azul);
}
.text-preto-dark{
    color: var(--preto_dark) !important;
}
.no-underline:hover{
    text-decoration: none !important;
}
.height-100-vh{
    height: 100vh;
}
.text-italic{
    font-style: italic;
}
.text-facebook{
    color: #3b5998;
}
.text-twitter{
    color: #00aced;
}
.text-instagram{
    color: #517fa4;
}
.text-pinterest{
    color: #cb2027;
}
.text-youtube{
    color: #bb0000;
}
.bg-facebook{
    background-color: #3b5998;
}
.bg-twitter{
    background-color: #00aced;
}
.bg-instagram{
    background-color: #517fa4;
}
.bg-pinterest{
    background-color: #cb2027;
}
.bg-youtube{
    background-color: #bb0000;
}
.borda-top-preto-separation{
    position: absolute;
    top: 17px;
    left: 45px;
    width: 100%;
    height: 2px;
    border-top: #2c3e50 1px solid;
}
.text-preto-cidades{
    color: #2c3e50;
}
.text-preto-cidades:hover{
    color: #000000;
}
.div-bolinha-letra-cidade{
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: var(--dark) 1px solid;
}
#termos .modal-body{
    padding-top: 7px !important;
}
#modal-whatsapp .modal-header, #modal-whatsapp .modal-footer{
    padding: 0 !important;
}